<h1>Instance</h1>

<table>
  <tbody>{{#each model.attributes}}
    <tr>
      <td>
        <strong>{{this.key}}:</strong>
      </td>
      <td>
        {{this.value}}
      </td>
    </tr>
    {{/each}}</tbody>
</table>

{{#link-to 'instance.current_status' model}}Current Status{{/link-to}}

{{outlet}}
